* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Chakra Petch", sans-serif;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0;
}


.container {
    border: 1px solid black;
    height: 550px;
    width: 463px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #48E5C2;
}

#input-container {
    padding: 10px;
   
}
input {
    width: 426px;
    height: 67px;
    font-size: 45px;
    padding-left: 10px;
    background-color: #324A5F;
}

.buttons-and-functions-container {
    flex: 1;
    display: flex;
}

.number-button-and-function-button-container {
    flex: 1;
}

.function-container {
    padding: 12px 0;
    padding-left: 15px;
    display: flex;
    gap: 19px;

}


.function-container button {
    height: 59px;
    width: 145px;
    font-size: 35px;
    background-color: #324A5F;
}

.button-container {

    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.button-container .number-button-column {
    display: flex;
    gap: 12px;
    padding-top: 12px;
}

.number-button-column .special-case-button  {
    width: 202px;
    font-size: 35px;
}

.number-button-column button{   
    width: 95px;
    height: 80px;
    font-size: 35px;
    background-color: #324A5F;
}

.operator-button-and-equal-button-container {
   
    display: flex;
    flex-direction: column;
}

.button-operator {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.button-operator button {
    height: 70px;
    width: 95px;
    font-size: 35px;
    background-color: #92140C;
}

.equal-button-container {
    padding: 8px;
}

.equal-button-container button {
    width: 95px;
    height: 123px;
    font-size: 35px;
    background-color: #92140C;
}
