* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0;
}


.container {
    border: 1px solid black;
    height: 550px;
    width: 463px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#input-container {
    padding: 10px;
   
}
input {
    width: 426px;
    height: 67px;
    font-size: 45px;
    padding-left: 10px;
}

.buttons-and-functions-container {
    flex: 1;
    display: flex;
}

.number-button-and-function-button-container {
    flex: 1;
 
}

.function-container {
 
    padding: 12px 0;
    padding-left: 15px;
    display: flex;
    gap: 19px;
}


.function-container button {
    height: 59px;
    width: 145px;

}

.button-container {

    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.button-container .number-button-column {
    display: flex;
    gap: 12px;
    padding-top: 12px;
}

.number-button-column .special-case-button  {
    width: 202px;
}

.number-button-column button{   
    width: 95px;
    height: 80px;
}

.operator-button-and-equal-button-container {
   
    display: flex;
    flex-direction: column;
}

.button-operator {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.button-operator button {
    height: 70px;
    width: 95px;
}

.equal-button-container {
    padding: 8px;
}

.equal-button-container button {
    width: 95px;
    height: 120px;
}
